<aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li>
                        <a href="/admin/loadDashboard">
                            <i class="menu-icon ti-home"></i>
                            <span>Admin Dashboard</span>
                        </a>
                    </li>

                    <li class="active">

                    </li>
                    <li>
                        <a href="#" onClick="return false;" class="menu-toggle">
                            <i class="menu-icon ti-user"></i>
                            <span>Manage User</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/admin/loadUser">Add User</a>
                            </li>
                            <li>
                                <a href="/admin/viewUser">View User</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" onClick="return false;" class="menu-toggle">
                            <i class="menu-icon ti-server"></i>
                            <span>Manage Dataset</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/admin/loadDataset">Add Dataset </a>
                            </li>
                            <li>
                                <a href="/admin/viewDataset">View Dataset</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="/admin/viewDetection">
                            <i class="menu-icon ti-eye"></i>
                            <span>Manage Detection</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/viewComplain">
                            <i class="menu-icon ti-comment-alt"></i>
                            <span>Manage Complain</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/viewFeedback">
                            <i class="menu-icon ti-thumb-up"></i>
                            <span>Manage Feedback</span>
                        </a>
                    </li>

                    </li>

                </ul>
            </div>
            <!-- #Menu -->
        </aside>